.text-field, .password-field{
  display: flex;
  flex-direction: column;
  label, input{
    margin-bottom: 10px;
  }
  input{
    width: 300px;
    padding: 10px;
  }
}
.submit-field{
  input{
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
  }
}
.nav-bar{
  display: flex;
  align-items: center;
  input{
    padding: 5px;
    margin-left: 10px;
  }
}
